
  <nav class="navbar navbar-light bg">
    <!-- <h3 class="text-white cursor-pointer"><img src=""></h3> -->
    <img src="../../../../assets/images/khandaSingh.jpg" class="headerImage" alt="" style="height: 40px;">
    <form class="form-inline">
    <b class="text-white ml-auto cursor-pointer" routerLink="/login">SignIn</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <b class="text-white ml-auto cursor-pointer" routerLink="/registration">SignUp</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-outline-light btn-light text-dark ml-auto cursor-pointer" type="button">Logout</button> 
    </form>
  </nav>